<% content_for :page_css do -%>
    <%= stylesheet_link_tag 'fullcalendar', media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag 'datetimepicker', media: "all",
                            "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag 'select2', media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag 'select2-metronic', media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag 'multi-select', media: "all", "data-turbolinks-track" => true %>

<% end -%>
<% content_for :page_js do -%>
    <%= javascript_include_tag 'fullcalendar.min' , "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'bootstrap2-typeahead.min' , "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'bootstrap-datetimepicker.min' , "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'bootstrap-select.min' , "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'select2.min',"data-turbolinks-track" => true %>
    <%= javascript_include_tag 'jquery.multi-select',"data-turbolinks-track" => true %>
    <%= javascript_include_tag 'custom/components-pickers' , "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'custom/calendar',"data-turbolinks-track" => true %>

<% end -%>
<% content_for :custom_init do -%>
   Calendar.init();
    $('#basic').on('shown.bs.modal', function () {

    alert($('#basic').data('start_date_time'))
   
    ComponentsPickers.init();
    App.setModalDropdowns();
    });
    //fix modal force focus
    $.fn.modal.Constructor.prototype.enforceFocus = function () {
    var that = this;
    $(document).on('focusin.modal', function (e) {
    if ($(e.target).hasClass('select2-input')) {
    return true;
    }

    if (that.$element[0] !== e.target && !that.$element.has(e.target).length) {
    that.$element.focus();
    }
    });
    };

<% end -%>
<div class="portlet box blue calendar">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-reorder"></i>Calendar
    </div>
  </div>
  <div class="portlet-body light-grey">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <!-- BEGIN DRAGGABLE EVENTS PORTLET-->
        <h3 class="event-form-title">Draggable Events</h3>
        <div id="external-events">
          <form class="inline-form">
            <input type="text" value="" class="form-control" placeholder="Event Title..." id="event_title"/><br/>
            <a href="javascript:;" id="event_add" class="btn green">
              Add Event
            </a>
          </form>
          <hr/>
          <div id="event_box">
          </div>
          <label for="drop-remove">
            <input type="checkbox" id="drop-remove"/>remove after drop </label>
          <hr class="visible-xs"/>
        </div>
        <!-- END DRAGGABLE EVENTS PORTLET-->
      </div>
      <div class="col-md-9 col-sm-12">
        <div id="calendar" class="has-toolbar">
        </div>
      </div>
    </div>
    <!-- END CALENDAR PORTLET-->
  </div>
</div>
<div class="modal fade in" id="basic" tabindex="-1" role="basic" aria-hidden="false" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>