<% provide(:title, 'Create Client') %>
<h1>Create Client</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@client) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :weight %>
        <%= f.text_field :weight %>

        <%= f.label :dob %>
        <%= f.date_select :dob %>

        <%= f.label :gender %>
        <%= f.text_field :gender %>

        <%= f.label :address %>
        <%= f.text_area :address %>

        <%= f.submit "Create new client", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>